/*body cam css*/
#container{
  width:80%;
  width:800px;
  margin:50px auto;
}
h1{
  max-width:500px;
  font-family:helvetica,sans-serif;
  color:#000;
  font-size:55px;
  line-height:60px;
  text-align: center;
  margin:0 auto;
  text-shadow:0px 0px 1px #333;
}
.intro{
  max-width:500px;
  margin:0 auto;
  text-align: center;
}
.intro:after{
  content:"";
  display:block;
  width:60%;
  height:1px;
  border-top:1px solid #e2e2e2;
  margin:30px auto;
}
.intro p{
  font-family:georgia,times,serif;
  font-size:15px;
  line-height:25px;
  color:#333;
}
.intro p.ref{
  font-family:arial,sans-serif;
  text-transform: uppercase;
  font-size:11px;
  font-weight:bold;
}

/* list items */
#incidents ul,
#incidents ul li{
  list-style:none;
  padding:0;
}
#incidents li{
  clear:both;
  height:225px;
  margin-bottom:30px;
}
#incidents li .yt-info{
  width:380px;
  float:left;
  margin-right:20px;
}
#incidents li .yt-info h6{}
#incidents li .yt-info h2{}
#incidents li .yt-info time{}
#incidents li .yt-video{
  width:400px;
  height:225px;
  float:left;
}